.App {
  text-align: center;
  margin: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: url('sobremesa.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden; 
  overflow-y: auto;   
}

@media (max-width: 768px) {
  body {
    background-image: url('./backgroundcelular.PNG');
    height: 100vh; /* Define a altura para 100% da viewport height */
    margin: 0; /* Remove margens para evitar espaços em branco ao redor do body */
    overflow: hidden; /* Isso oculta a barra de rolagem, se necessário */
  }
}